/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Body styling */

body {
    background-color: hsl(42, 100%, 84%);
    height: 100vh;
}

/* Logo */

@keyframes shrinkup {
    from {
        max-height: 50vh;
        padding-top: 15vh;
    }

    to {
        max-height: 15vh;
        padding-top: 3vh;
    }
}

#top-logo {
    /* Size */
    max-height: 50vh;

    /* Centered */
    display: block;
    margin: 0 auto;
    padding-top: 15vh;

    /* Animation */
    animation: shrinkup 1s ease-out paused forwards;
}

/* Navigation menu */

@keyframes slideup {
    from {

    }
}

#nav-menu menu {
    /* Positioning */
    margin-top: 5vh;
    margin-bottom: 5vh;

    column-gap: 5vh;
    justify-content: center;

    /* Menu display */
    display: flex;
    list-style: none;

    /* Animation */
    animation: slideup 1s ease-out paused forwards;
}

.nav-item {
    /* Box dimenions */
    padding: 1vh;

    /* Box styling */
    background-color: hsl(32, 98%, 75%);
    outline: 0.1vh solid hsl(0, 55%, 46%);
    border-radius: 0.3vh;

    /* Transition */
    transition: all 0.1s ease-out;
}

.nav-item>a {
    /* Font */
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: hsl(0, 55%, 46%);
    text-decoration: none;
}

.nav-item:hover {
    /* Hover transformation */
    background-color: hsl(32, 57%, 64%);
    outline: 0.2vh solid hsl(0, 55%, 46%);
}

/* Main content */

.hidden {
    /* Dimensions */
    max-width: 1440px;
    visibility: hidden;

    /* Positioning */
    display: block;
    position: absolute;

    /* Animation */

}

@keyframes fade-in-out {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

/* Footer */

footer {
    /* Positioning */
    display: block;
    margin-top: 15vh;
}

footer p {
    /* Font styling */
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: hsl(0, 55%, 46%);
    opacity: 0.8;
}